@import "./reset.scss";
@import "./addons.scss";

.pre-loader {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        .dot {
            height: 1px;
            width: 1px;
            border-radius: 100%;
            background-color: #f0d6a3;
            margin: 0 10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: loader 4s ease-in-out infinite both;

            @media (max-width: 576px) {
                height: 25px;
                width: 25px;
            }
        }
        .dot:nth-child(1) {
            animation-delay: 0s;
        }
        .dot:nth-child(2) {
            animation-delay: 1s;
        }
        .dot:nth-child(3) {
            animation-delay: 2s;
        }
    }
}

@keyframes loader {
    0% {
        height: 5px;
        width: 5px;
        opacity: 0;
    }
    20% {
        opacity: 0.8;
    }
    100% {
        height: 100px;
        width: 100px;
        opacity: 0;
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1920px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

    .nav-bottom {
        padding: 16px 0;
        & > .c2 {
            display: flex;
            align-items: center;
        }
        .nav-logo {
            margin-left: 140px;

            @media (max-width: 1100px) {
                margin-left: 100px;
            }
            @media (max-width: 992px) {
                margin-left: 0px;
            }

            img {
                @media (max-width: 576px) {
                    max-width: 75%;
                }
            }
        }

        .nava {
            margin: 0 auto;
            transition: all 0.5s;
            .nava-content {
                & > ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 16px;

                    li {
                        margin: 0 10px;

                        a {
                            color: black;
                            transition: all 0.5s;
                            font-weight: 400;
                            &:hover {
                                color: #f0d6a3;
                            }
                        }
                    }
                }
                .small-links {
                    display: none;

                    ul {
                        display: none;
                    }
                }
                .nava-head,
                .nava-social {
                    display: none;
                }
            }

            @media (max-width: 992px) {
                margin: 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                height: 0;
                width: 100%;
                z-index: -5;
                opacity: 0;
                transition: all 0.5s;
            }

            .nava-content {
                @media (max-width: 992px) {
                    position: absolute;
                    top: 0;
                    right: -150%;
                    background-color: white;
                    height: 100vh;
                    width: 60%;
                    transition: all 0.5s;
                    flex-direction: column;
                    text-align: right;
                    padding: 0 30px;
                    padding-top: 30px;

                    .nava-head {
                        display: flex;
                        font-size: 12px;
                        margin: 9px 0;
                        margin-bottom:30px;

                        .nava-lang {
                            .drop {
                                display: flex;
                                justify-content: flex-start;
                                align-items: baseline;
                                img {
                                    margin-left: 5px;
                                }
                                span {
                                    margin-right: 10px;
                                    margin-top:3px;
                                }
                            }
                            ul {
                                li {
                                    margin: 10px 0;
                                }
                            }
                        }
                    }

                    & > ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        li {
                            margin: 10px 0;
                            font-size: 18px;

                            a {
                                font-size: 18px;
                            }
                        }
                    }
                    .small-links {
                        display: flex;
                        flex-direction: column;
                    }

                    .nava-social {
                        display: flex;
                        margin: 30px 0;
                        .social-icon {
                            margin-top: 25px;
                            a {
                                height: 40px;
                                width: 40px;
                                border-radius: 100%;
                                background-color: black;
                                font-size: 16px;
                                margin: 0 3px;
                                transition: all 0.3s;
                                color: white;
                            }
                        }
                        .fb {
                            a {
                                background-color: #3a5a97;
                            }
                        }
                        .snap {
                            a {
                                background-color: #f7cb00;
                            }
                        }
                        .insta {
                            a {
                                background-image: linear-gradient(45deg, #f48d50, #9137b3);
                            }
                        }
                        .twitter {
                            a {
                                background-color: #2ac5f4;
                            }
                        }
                    }

                    .nava-head {
                        color: #bdbdbd;
                        .nava-lang {
                            a {
                                color: #bdbdbd;
                                font-size: 18px;
                            }
                        }
                        .nava-close {
                            position: absolute;
                            top: 40px;
                            left: 35px;
                            font-size: 25px;
                            cursor: pointer;
                        }
                    }
                }
                @media (max-width: 576px) {
                    width: 85%;

                    .nava-head {
                        font-size: 16px;

                        .nava-close {
                            font-size: 20px;
                        }
                    }

                    li {
                        margin: 9px 0;

                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .nava-active {
            opacity: 1;
            z-index: 999;
            height: 100vh;

            .nava-content {
                right: 0;
                min-height: 100%;
                max-height: 100%;
                height: 100%;
                overflow-y: auto;
            }
        }

        .nav-icons {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            @media (max-width: 992px) {
                margin-right: auto;
            }

            & > div {
                margin-right: 30px;
                font-size: 22px;
                color: black;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    color: $color1;
                }

                @media(max-width: 576px){
                    margin-right:18px;
                }
            }

            .user {
                a {
                    &:hover {
                        color: $color1;
                    }
                }

                .dropdown-content {
                    padding: 3px 20px 10px 20px;

                    & > div {
                        margin: 5px 0;
                    }
                }

                @media (max-width: 992px) {
                    display: none;
                }
            }

            .favourite {
                @media (max-width: 992px) {
                    display: none;
                }
            }

            .nav-lang {
                font-size: 16px;
                margin-right: 40px;

                a {
                    color: rgba(147, 147, 147, 255);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        margin-right: 6px;
                        margin-top: 2px;
                        font-size: 8px;
                    }
                    img {
                        margin-left: 7px;
                    }

                    &:hover {
                        color: $color1;
                    }
                }

                .dropdown-content {
                    padding: 10px 20px;

                    & > div {
                        margin: 5px 0;
                    }
                }

                @media (max-width: 992px) {
                    display: none;
                }
            }

            .menu {
                display: none;
                font-size: 30px;

                span{
                    margin-top:0px;
                }
                @media (max-width: 992px) {
                    display: flex;
                }
            }
        }
    }
}

.search-form {
    height: 0%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -500;
    overflow: hidden;
    transition: all 0.5s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    .close-search {
        font-size: 27px;
        margin-bottom: 75px;
        margin-top: 65px;
        cursor: pointer;
        height: 48px;
        width: 48px;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(255, 255, 255);
        line-height: 1.125;
    }

    .search {
        width: 55%;
        text-align: center;
        margin: 0 auto;
        height: 55px;
        position: relative;

        @media (max-width: 768px) {
            width: 75%;
        }
        @media (max-width: 576px) {
            width: 85%;
        }
        input {
            background-color: transparent;
            width: 100%;
            height: 100%;
            font-size: 24px;
            color: rgba(125, 125, 125, 255);
            border: none;
            border-radius: 0;
            border-bottom: 1px solid white;
            padding: 0 20px;

            @media (max-width: 576px) {
                padding: 0 15px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: transparent;
            }
        }

        .searching {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            font-size: 30px;
        }
    }
}

.search-form-active {
    opacity: 1 !important;
    z-index: 2000 !important;
    height: 100% !important;
    width: 100% !important;
}

header {
    @media (max-width: 992px) {
        margin-top: 50px;
    }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1920px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

    .swiper-container {
        width: 100%;
        height: auto;

        .swiper-pagination {
            bottom: 40px;

            @media (max-width: 576px) {
                bottom: 5px;
            }
        }

        //swiper bagenation
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;

            @media (max-width: 576px) {
                width: 6px;
                height: 6px;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 6px;
        }

        //swiper buttons
        .swiper-button-prev,
        .swiper-button-next {
            color: rgba(255, 255, 255, 0.302);
            line-height: 1.875;
            background-color: transparent;
            transition: all 0.5s ease-in;
            top: 60%;

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                color: white;
            }

            &:after {
                font-size: 36px;
            }
        }

        .swiper-button-prev {
            right: 40px;
        }

        .swiper-button-next {
            left: 40px;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                transition: all 0.5s;
            }

            &:hover {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}

#banners {
    margin-top: 30px;
    
    @media (max-width: 576px) {
        margin-top: 8px;
      }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1400px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

    .banners-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 576px) {
            justify-content: center;
        }

        .banner {
            width: 32%;
            max-width: 360px;

            img {
                width: 100%;
                transition: all 0.5s;
            }

            &:hover {
                img {
                    transform: scale(1.02);
                }
            }

            @media (max-width: 576px) {
                width: 100%;
                max-width: unset;
                margin: 8px 0;
            }
        }
    }
}

#products {
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;



    @media (max-width: 992px) {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1400px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

    .product-head {
        margin-bottom: 40px;
        
        @media(max-width:576px){
            margin-bottom: 30px;

        }
        h2 {
            font-size: 30px;
            font-weight: 500;
            
            @media(max-width:576px){
                font-size: 24px;
            }
        }
    }

    .product-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 992px) {
            justify-content: space-around;
        }

        .product {
            width: 32%;
            max-width: 360px;
            margin-bottom: 55px;

            @media (max-width: 992px) {
                width: 47%;
                max-width: unset;
            }
            @media (max-width: 768px) {
                width: 75%;
            }
            @media (max-width: 576px) {
                width: 100%;
            }

            .product-img {
                border: 1px solid rgb(235, 235, 235);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 360px;
                margin-bottom: 20px;
                position: relative;

                img {
                    max-width: 85%;
                }

                .icons {
                    .icon {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 14px;
                        font-weight: 500;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 25px;
                        z-index: 2;
                    }
                    .new {
                        background-color: #00ca00;
                    }
                    .sale {
                        background-color: #e13737;
                    }
                    .ship {
                        background-color: #ffa300;
                    }
                }

                .out-img {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        max-width: 80%;
                    }
                }

                img {
                    transition: all 0.5s;
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }

                .countDown {
                    display: flex;
                    padding: 5px 10px;
                    border-radius: 25px;
                    font-size: 14px;
                    color: rgb(225, 55, 55);
                    background-color: rgb(251, 231, 231);
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    & > div {
                        display: flex;
                        margin: 0 2px;

                        span {
                            margin-left: 3px;
                        }
                    }
                }
            }

            .product-txt {
                h3 {
                    margin: 0;
                    margin-bottom: 6px;
                    a {
                        font-size: 15px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 255);
                    }
                }

                .price {
                    font-size: 18px;
                    font-weight: 700;
                    color: rgba(0, 0, 0, 255);
                    line-height: 1.389;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .now {
                        color: rgb(255, 0, 0);
                    }

                    .then {
                        opacity: 0.5;
                        text-decoration: line-through;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .out {
            .product-img {
                & > img {
                    opacity: 0.5;
                }
                .icons {
                    .icon {
                        background-color: #bbbbbb;
                    }
                }
            }
            .product-txt {
                opacity: 0.5;
            }
        }
    }
}

#comments {
    padding: 80px 0;
    background-color: #fafafa;

    @media (max-width: 992px) {
        padding: 30px 0 70px 0;
    }

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1400px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

    .c2 {
        position: relative;

        @media (max-width: 1300px) {
            max-width: 85%;
        }
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    .comments-head {
        text-align: center;
        margin-bottom: 35px;
        
        @media(max-width:576px){
            margin-bottom: 20px;
        }

        h2 {
            font-size: 30px;
            font-weight: 500;

            @media(max-width:576px){
                font-size: 24px;
            }
        }
    }

    .s-container {
        width: 100%;
        overflow: hidden;

        //swiper buttons
        .swiper-button-prev,
        .swiper-button-next {
            color: rgba(179, 179, 179, 255);
            transition: all 0.5s;
            top: 50%;

            @media (max-width: 992px) {
                display: none;
            }

            &:after {
                font-size: 18px;
            }
        }

        .swiper-button-prev {
            right: -55px;
        }

        .swiper-button-next {
            left: -55px;
        }

        .swiper-pagination {
            display: none;

            @media (max-width: 992px) {
                display: block;
            }
        }

        .swiper-pagination-bullets {
            bottom: -30px;
        }

        //swiper bagenation
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: $color1;
        }

        .comment {
            padding: 30px;
            background-color: white;
            background-image: url("../img/icons/quote.png");
            background-repeat: no-repeat;
            background-position: 25px 25px;

            @media (max-width: 576px) {
                padding: 15px;
                padding-bottom: 20px;
            }

            .comment-content {
                display: flex;
                justify-content: center;
                align-items: baseline;

                @media (max-width: 576px) {
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                .comment-img {
                    margin-left: 20px;

                    img {
                        margin-bottom: -15px;
                    }

                    @media (max-width: 576px) {
                        margin: 0;
                        margin-bottom: 15px;
                        img {
                            margin: 0;
                        }
                    }
                }
                .comment-disc {
                    h3 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        font-weight: 500;
                        margin-top: 0;

                        a {
                            color: black;

                            &:hover {
                                color: $color1;
                            }
                        }
                    }

                    .stars {
                        font-size: 12px;
                        color: rgba(245, 209, 42, 255);
                        margin-bottom: 25px;

                        .blank {
                            color: #cfcfcf;
                        }
                    }

                    & > p {
                        font-size: 16px;
                        color: rgba(116, 115, 115, 255);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 80px;
    padding-bottom: 55px;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
      
        @media (min-width: 768px) {
          width: 100%; 
        }
      
        @media (min-width: 992px){
          width: 100%;
        }
      
        @media (min-width: 1200px) {
          width: 1400px;
        }
      }
      
      .row {
        margin: 0;
      
        & > div {
          padding: 0;
        }
      }

      
    .footer-top {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: center;
            text-align: center;
        }

        .head {
            h4 {
                margin-bottom: 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 17px;
            }
        }

        li {
            margin-bottom: 10px;
            a {
                font-size: 15px;
                color: black;
                font-weight: 400;
                transition: all 0.3s;
                &:hover {
                    color: $color1;
                }
            }
        }

        .account,
        .adds,
        .cust,
        .info {
            @media (max-width: 992px) {
                display: none;
            }
        }

        .mail {
            width: 358px;
            h4 {
                margin-bottom: 25px;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 15px;
                font-size: 15px;
                font-weight: 400;
            }

            .form-group {
                position: relative;

                a {
                    background-color: black;
                    color: white;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    top: 50%;
                    left: 25px;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: $color1;
                    }
                }
                input {
                    border-radius: 0;
                    height: 3rem;
                    border: 1px solid rgb(235, 235, 235);
                    border-radius: 25px;
                    font-size: 14px;
                    width: 100%;
                    height: 45px;
                    padding-right: 34px;

                    &::placeholder {
                        font-size: 14px;
                        color: rgba(187, 187, 187, 255);
                    }
                }
            }

            .social {
                margin-top: 25px;
                a {
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    background-color: black;
                    font-size: 16px;
                    margin: 0 3px;
                    transition: all 0.3s;
                    color: white;
                }

                .fb {
                    a {
                        background-color: #3a5a97;
                    }
                }
                .snap {
                    a {
                        background-color: #f7cb00;
                    }
                }
                .insta {
                    a {
                        background-image: linear-gradient(45deg, #f48d50, #9137b3);
                    }
                }
                .twitter {
                    a {
                        background-color: #2ac5f4;
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 60px;
        flex-direction: column;

        @media (max-width: 576px) {
            margin-top: 40px;
        }
        p {
            font-size: 15px;
            color: black;
            margin-top: 37px;
            text-align: center;

            @media(max-width:576px){
                display: flex;
                flex-direction: column;

                .dash{
                    display: none;
                }

                span{
                    margin: 5px 0;
                }
            }
        }

        .payment {
            @media (max-width: 576px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                margin: 0 12px;
                @media (max-width: 576px) {
                    max-width: 16%;
                }
            }
        }
    }
}

html[dir="ltr"] {
    nav {
        .nav-bottom {
            .nav-logo {
                margin-left: unset;
                margin-right: 140px;

                @media (max-width: 1100px) {
                    margin-left: unset;
                    margin-right: 100px;
                }
                @media (max-width: 992px) {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }

            .nava {
                .nava-content {
                    @media (max-width: 992px) {
                        right: unset;
                        left: -150%;

                        .nava-head {
                            .nava-lang {
                                .drop {
                                    img {
                                        margin-left: unset;
                                        margin-right: 5px;
                                    }
                                    span {
                                        margin-right: unset;
                                        margin-left: 10px;
                                        margin-top:0;
                                    }
                                }
                            }

                            .nava-close {
                                left: unset;
                                right: 35px;
                            }
                        }
                    }
                }
            }

            .nava-active {
                .nava-content {
                    right: unset;
                    left: 0;
                }
            }

            .nav-icons {
                @media (max-width: 992px) {
                    margin-right: unset;
                    margin-left: auto;
                }

                & > div {
                    margin-right: unset;
                    margin-left: 30px;
                    
                    @media(max-width: 576px){
                        margin-right: unset;
                        margin-left: 18px;
                    }
                }

                .nav-lang {
                    margin-right: unset;
                    margin-left: 40px;

                    a {
                        span {
                            margin-right: unset;
                            margin-left: 6px;
                        }
                        img {
                            margin-left: unset;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }

    .search-form {
        .search {
            .searching {
                left: unset;
                right: 10px;
            }
        }
    }

    header {
        .swiper-container {
            .swiper-button-prev {
                right: unset;
                left: 40px;
            }

            .swiper-button-next {
                left: unset;
                right: 40px;
            }
        }
    }

    #products {
        .product {
            .product-img {
                .icons {
                    .icon {
                        right: unset;
                        left: 10px;
                    }
                }

                .countDown {
                    left: unset;
                    right: 10px;

                    & > div {
                        span {
                            margin-left: unset;
                            margin-right: 3px;
                        }
                    }
                }
            }

            .product-txt {
                .price {
                    .then {
                        margin-right: unset;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    #comments {
        .s-container {
            .swiper-button-prev {
                right: unset;
                left: -55px;
            }

            .swiper-button-next {
                left: unset;
                right: -55px;
            }

            .comment {
                background-image: url("../img/icons/quote-en.png");
                background-position: 95% 25px;

                .comment-content {
                    .comment-img {
                        margin-left: unset;
                        margin-right: 20px;

                        @media (max-width: 576px) {
                            margin: 0;
                            margin-bottom: 15px;
                            img {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-top {
            .mail {
                .form-group {
                    a {
                        left: unset;
                        right: -8px;
                    }
                    input {
                        padding-right: unset;
                        padding-left: 34px;
                    }
                }
            }
        }
    }
}
